@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry-grid {
  display: -webkit-box; /* Not Needed If  Autoprefixing */
  display: -ms-flexbox; /* Not Needed If Autoprefixing */
  display: flex;
  width: auto;
}
